// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#answer {
  font-weight:bold;
}
.answer {
  background-color: #FFFEE4;
  border-left: solid;
  border-left-width: 5px;
  border-left-color: gray;
  padding-left: 20px;
}
